
% $ABjo/texmf.cnf ($OSAB/bs-symlinks/jo-0.sh)

% let terminal handle line-wraps
%  supplementary to  /usr/share/texmf-dist/web2c/texmf.cnf
%  see  stackexchange.com  83600  &  171246

max_print_line = 4000

