# vim: set fdl=1:

# managed by my  $bSc/24-as_root-rsnapshot_automated.sh

[Unit]
Description=rsnapshot every minute backup test

[Timer]
# Run hourly
OnCalendar=*:0/1
Persistent=true
Unit=rsnapshot-minuteTest.service
# runs  $ARCHBUILDS/etc/systemd/rsnapshot-minuteSFTest.service
# requires  $machBld/etc/rsnapshot-minuteTest.conf  to be in place with  sync_first  enabled

[Install]
WantedBy=timers.target

# systemctl status rsnapshot-minuteTest.timer
# journalctl -u rsnapshot@minuteTest -r

