# vim: set fdl=1:

# copied by  $bs/24-as_root-rsnapshot_automated.sh
#        to  /etc/systemd/system/rsnapshot-minuteTest.service

# managed by  $ARCHBUILDS/etc/systemd/rsnapshot/minuteSFTest.timer

[Unit]
Description=rsnapshot sync_first minute backup

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
# sync_first
ExecStart=/usr/bin/rsnapshot sync
ExecStart=/usr/bin/rsnapshot minuteTest

