# vim: set fdl=1:

# managed by my  $ARCHBUILDS/build-scripts/24-as_root-rsnapshot_automated.sh

[Unit]
Description=rsnapshot every minute backup test

[Timer]
# Run hourly
OnCalendar=*:0/1
Persistent=true
Unit=rsnapshot@minuteTest.service
# runs  minuteTest  instance of  $ARCHBUILDS/etc/systemd/rsnapshot/@.service
# requires  $MACHINE/etc/rsnapshot-minuteTest.conf  to be in place

[Install]
WantedBy=timers.target

# systemctl status rsnapshot-minuteTest.timer
# journalctl -u rsnapshot@minuteTest -r

