
# for  $ARCHBUILDS/jo/Emacs/ss.sh
# symlinked in my  $bSc/4-whenWM/symlinks.sh
#  to provide my command  emacs_safely
#   used in  $Openbox/openbox/schema.pl

#  pb /usr/share/applications/emacs.desktop
#  pb /usr/share/applications/emacs_safely.desktop

[Desktop Entry]
Name=Emacs Safely
GenericName=Text Editor
Comment=run Emacs safely from profile shared on Dropbox
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs %F
Exec=/usr/local/bin/emacs_safely
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs

