# vim: set fdl=1:

# copied by  $bSc/1-to_jo/6-as_root-rsnapshot_automated.sh
#  to  /etc/systemd/system/rsnapshot-hourly.timer

[Unit]
Description=rsnapshot hourly backup

[Timer]
# Run hourly
OnCalendar=*-*-* *:00:00
Persistent=true
Unit=rsnapshot@hourly.service
# runs  hourly  instance of  $OSAB/etc/systemd/rsnapshot/ampersand.service

[Install]
WantedBy=timers.target

