# vim: set fdl=1:

# copied by  $bSc/24-as_root-rsnapshot_automated.sh
#        to  /etc/systemd/system/rsnapshot-hourly.service

# managed by  $ARCHBUILDS/etc/systemd/rsnapshot-hourlySF.timer

[Unit]
Description=rsnapshot sync_first hourly backup

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
# sync_first
ExecStart=/usr/bin/rsnapshot sync
ExecStart=/usr/bin/rsnapshot hourly

