# vim: set fdl=1:

# managed by my  $bSc/24-as_root-rsnapshot_automated.sh

[Unit]
Description=rsnapshot sync hourly backup

[Timer]
# Run hourly
OnCalendar=*-*-* *:00:00
Persistent=true
Unit=rsnapshot-hourly.service
# runs  $OSAB/etc/systemd/rsnapshot-hourlySF.service
#  which expects  sync_first  to be enabled in  $machBld/etc/rsnapshot.conf

[Install]
WantedBy=timers.target

