# vim: set fdl=1:

# copied by  $bSc/1-to_jo/6-as_root-rsnapshot_automated.sh
#  to  /etc/systemd/system/rsnapshot-monthly.timer

[Unit]
Description=rsnapshot monthly backup

[Timer]
# Run once per month at 3:30 UTC, after daily and weekly runs
OnCalendar=*-*-1 03:30:00
Persistent=true
Unit=rsnapshot@monthly.service
# runs  monthly  instance of  $OSAB/etc/systemd/rsnapshot/ampersand.service

[Install]
WantedBy=timers.target

