# vim: set fdl=1:

# copied by  $OSAB/bs-1-to_jo/6-as_root-rsnapshot_automated.sh
#  to  /etc/systemd/system/rsnapshot-weekly.timer

[Unit]
Description=rsnapshot weekly backup

[Timer]
# Run once per week on Monday at 4:30, after daily runs
OnCalendar=Monday  *-*-* 04:30:00
Persistent=true
Unit=rsnapshot@weekly.service
# runs  weekly  instance of  $OSAB/etc/systemd/rsnapshot/ampersand.service

[Install]
WantedBy=timers.target

