
# for  $ABjo/ts.sh
# symlinked in my  $OSAB/bs-symlinks/jo-2-whenWM-1.sh
#  to reveal my command  thunderbird_safely  to Desktop

[Desktop Entry]
Name=Thunderbird Safely
Comment=run Thunderbird safely from profile shared on Dropbox
Exec=/usr/local/bin/thunderbird_safely
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;

