
# $ABjo/wm/sxk/sxk.desktop
#  symlinked in my  $OSAB/nodes-set/jo-3-when_myDrA.sh
#   to reveal my command  sxk  to Desktop
#   desktop-file-validate /usr/share/applications/sxk.desktop

[Desktop Entry]
Name=setxkbmap toggle
Comment=toggle XKEYBOARD-CONFIG LAYOUT (= language)
Exec=/usr/local/bin/sxk
Terminal=false
Type=Application
Icon=org.xfce.settings.keyboard
Categories=Settings

