
# symlinked in my  $bSc/symlinks/jo-2-whenDropbox.sh
#  to reveal my command  spacemacs  to Desktop

#  pb /usr/share/applications/emacs.desktop
#  pb /usr/share/applications/spacemacs.desktop
#  desktop-file-validate /usr/share/applications/spacemacs.desktop
#  r /usr/share/applications

[Desktop Entry]
Name=Spacemacs
GenericName=Text Editor
Comment=run Spacemacs from its separate configuration
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=/usr/local/bin/spacemacs
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs

