# vim: set fdl=1:

# cp $ARCHBUILDS/etc/systemd/rsnapshot-sync-hourly.service /etc/systemd/system/rsnapshot-hourly.service
#  done in  $ARCHBUILDS/build-scripts/09-as_root-to_jo.sh
# managed by  $ARCHBUILDS/etc/systemd/rsnapshot-sync-hourly.timer

[Unit]
Description=rsnapshot sync hourly backup

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/bin/rsnapshot sync
ExecStart=/usr/bin/rsnapshot hourly

